<ion-view ng-init="init()">
  <ion-header-bar class="bar-dark">
    <button class="button button-icon icon ion-android-arrow-back" ng-click="goBack()">
    </button>
    <h1 class="title">{{title}}</h1>
    <button class="button icon ion-checkmark-round" ng-click="confirm()">
    </button>
  </ion-header-bar>

  <ion-content scroll="false" class="has-header">
    <div class="container">
      <div class="row">
        <div class="col col-20 text-right">
        <div class="list">
          <a class="item item-icon-right item-icon-right-col">
            <i class="icon ion-android-person"></i>
          </a>
        </div>
        </div>
        <div class="col col-60">
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="Name" minlength="2" maxlength="70" ng-model="applicant.name">
            </label>
            <label class="item item-input">
              <input type="number" placeholder="Age" min="0" max="144" ng-model="applicant.age">
            </label>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
