<ion-pane>
  <ion-header-bar class="bar-dark home">
    <h1 class="title">Trail Making</h1>
  </ion-header-bar>

  <ion-content class="home" scroll="false">
    <div class="row">
       <div class="col text-center">
          <a href="#/app/test/partA-sample" class="button button-large button-positive">Take test</a>
       </div>
    </div>
  </ion-content>

  <button class="round-overlay-button bottom-right assertive button button-icon icon ion-android-add light" ng-click="goTo('/applicant/new')">
  </button>
</ion-pane>