<ion-view ng-init="init()">
  <ion-header-bar class="bar-dark home">
    <h1 class="title">Trail Making</h1>
  </ion-header-bar>

  <ion-content class="home">
    <div class="container">
      <div class="row">
        <div class="col col-90 col-offset-5">
          <h4>Applicants</h4>
          <div class="list">
            <a class="item item-avatar item-icon-right" ng-repeat="applicant in applicants">
              <img src="http://ionicframework.com/img/docs/venkman.jpg">
              <h2>{{applicant.name}}</h2>
              <p ng-show="applicant.takenAt">{{takenAt(applicant.takenAt)}}</p>
              <p ng-hide="applicant.takenAt">Test not taken yet</p>
              <i class="icon ion-android-more-vertical" ng-click="options($event, applicant)"></i>
            </a>
          </div>
        </div>
      </div>

      <button class="round-overlay-button assertive button button-icon icon ion-android-add bottom-right" ng-click="goTo('/applicant/new')"></button>

    </div>
  </ion-content>
</ion-view>
