<ion-view view-title="{{content.title}}">
  <ion-content>
    <div class="container">
      <div class="row">
        <div class="col col-20 text-right">
        <div class="list">
          <a class="item item-icon-right">
            <i class="icon ion-android-person"></i>
          </a>
        </div>
        </div>
        <div class="col col-60">
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="Name">
            </label>

            <label class="item item-input">
              <input type="number" placeholder="Age" min="0" max="150">
            </label>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
